$background: #1d1f21; // from light
$foreground: #c5c8c6;
$selection: #bcbcbc; // from light
$line: #d0d0d0; // from light
$comment: #5f5f5f; // from light
$red: #cc6666;
$orange: #de935f;
$yellow: #f0c674;
$green: #b5bd68;
$aqua: #8abeb7;
$blue: #81a2be;
$purple: #b294bb;
$window: #303030;
$darkcolumn: #1c1c1c;
$addbg: #5F875F;
$addfg: #d7ffaf;
$changebg: #5F5F87;
$changefg: #d7d7ff;
$delbg: #cc6666;
$darkblue: #00005f;
$darkcyan: #005f5f;
$darkred: #5f0000;
$darkpurple: #5f005f;
