@import 'hybrid-colors';

$fontSize: .8em;
$contentWidth: 640px;

body {
  background-color: $background;
  margin: 0;
  font-family: "Motiva Sans", Sans-serif;
}

a {
  text-decoration: none;
  color: $green;
  :hover {
    color: $orange;
  }
}

p {
  color: $foreground;
  font-size: $fontSize;
  line-height: 1.45em;
  width: 700px;
}

@media only screen and (max-width: 600px) {
  p {
    width: 100%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: $yellow;
  margin-bottom: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.8em;
  font-weight: bold;
}

em {
  color: $comment;
}

strong {
  color: $orange;
}

img {
  width: 320px;
  height: 240px;
  display: block;
  margin: .5em;
  border-width: 3px;
  border-style: solid;
  border-color: $window;
}

.list-categories {
  display: flex;
  justify-content: center;
  list-style-type: none;
  > li {
    float: left;
    padding-right: 3em;
    > a {
      color: $yellow;
      font-size: 1.8em;
    }
    a:hover {
      color: $orange;
    }
  }
}

.list-category-items {
  list-style-type: none;
  padding: 0;
  > li > a {
    color: $foreground;
    font-size: $fontSize;
  }
}

.head-wrapper {
  display: flex;
}

.header {
  flex: 1;
  background-color: $darkcolumn;
  border-bottom-style: solid;
  border-width: 3px;
  border-color: $yellow;
}

.container {
  ul {
    color: $foreground;
    font-size: $fontSize;
  }
  display: flex;
  flex-direction: column;
  margin: 3.3em 2em;
}

.content {
  max-width: $contentWidth;
  margin: 0 auto;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title-listing {
  list-style-type: none;
  font-size: 1.4em;
  line-height: 1.3;
}
